<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SpineCenter.TV" %></title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <div id="main-content">
      <h1>SpineCenter.TV <i class="fa fa-play-circle-o"></i></h1>
      <br>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>